<template>
  <v-form>
    <v-text-field v-model="newItemTitle"
                  label="What do you need to do?"
                  @keydown.enter.prevent="addTodo"
                  autofocus
                  :rules="[rules.minLength]"
                  required
                  >
    </v-text-field>
  </v-form>
</template>

<script>
const MIN_LENGTH_VALIDATION = 3

export default {
  name: 'InputField',
  data () {
    return {
      newItemTitle: '',
      rules: {
        minLength: value => {
          return (value.length >= MIN_LENGTH_VALIDATION) || `Required having at least ${MIN_LENGTH_VALIDATION} characters.`
        }
      }
    }
  },
  methods: {
    async addTodo() {
      const myPromise = () => new Promise((resolve, reject) => {
          setTimeout(() => { 
            if (this.newItemTitle.length >= MIN_LENGTH_VALIDATION) {
              this.$store.dispatch('addTodo', this.newItemTitle)
              this.newItemTitle = ''
            }
            resolve('Task has been added!'); }, 1000);
      });

      const response = await myPromise();
      this.$emit('msgAlert', response)
    }
  }
}
</script>
