<template>
  <v-app>
    <v-flex xs12 sm6 offset-sm3>
      <v-card>
        <v-card-title primary-title class="title">
          <div>
            <h3 class="mat-h2 mb-0">Todo List</h3>
          </div>
        </v-card-title>
        <v-card-text>
          <TodoItem v-on:msgAlert="handleAlertMsg" v-for="(todo, index) in todos"
                    :key="index"
                    :todo="todo">
          </TodoItem>
          <InputField v-on:msgAlert="handleAlertMsg" ref="inputFeild"></InputField>
        </v-card-text>
        <v-card-actions>
          <v-btn  @click="deleteAllSelectedTodos()">
            Delete All Toggled
          </v-btn>
          <v-spacer></v-spacer>
          <v-btn color="success" @click="addTodo">Save Item</v-btn>
        </v-card-actions>
        <v-alert :value="alert" type="success" transition="scale-transition">
          {{ alertMsg }}
        </v-alert>
      </v-card>
    </v-flex>
  </v-app>
</template>

<script>
import TodoItem from './components/TodoItem'
import InputField from './components/InputField'

export default {
  name: 'App',
  components: {
    TodoItem,
    InputField
  },
  data () {
    return {
      alert: false,
      alertMsg: ''
    }
  },
  computed: {
    todos () {
      return this.$store.state.todos
    }
  },
  methods: {
    addTodo () {
      this.$refs.inputFeild.addTodo()
    },
     deleteAllSelectedTodos(){
      this.$store.state.todos.map((todo,index) => {
        if(todo.done){
          this.$store.dispatch('deleteTodo', todo)
          this.handleAlertMsg('All Toggle Tasks has been deleted.')
         }
      })
    },
    handleAlertMsg(msg){
      this.alertMsg = msg;
      this.alert = true
      setTimeout(() => { this.alert = false }, 3000);
    }
  }
}
</script>

<style>
  .title {
    display: flex;
    justify-content: center;
  }
</style>
